extends layout

block append head
  link(href="/css/tictactoe.css", rel="stylesheet", type="text/css")

block content
  h1 Blackjack

  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
  script(src="/js/lib/sockjs-0.3.1.min.js")
  script(src="/js/lib/knockout-2.1.0.js")