!!! 5
html
  head
    title Simple Multiplayer Games
  body
    header
      h1 Simple Multiplayer Games
      navigation
        ul
          li
            a(href="/") Home
          li
            a(href="/tictactoe") Tic-Tac-Toe
    block content