extends layout

block append head
  link(href="/css/tictactoe.css", rel="stylesheet", type="text/css")

block content
  h1 Tic-Tac-Toe

  div(data-bind="visible: needsConnection")
    a(href="#", data-bind="click: connect") Connect

  div(data-bind="visible: waitingForOpponent") Waiting for opponent...

  div(data-bind="visible: canMove() && inProgress()") It's your turn!
  div(data-bind="visible: isCompleted")
    span Done!  The winner was 
    span(data-bind="text: results")
    div
      a(href="#", data-bind="click: quit") New game

  table#tictactoe_board(data-bind="visible: inProgress() || isCompleted()")
    tr
      td(data-bind="attr: { class\: board()[0] }, click: function() { move(0) }") &nbsp;
      td(data-bind="attr: { class\: board()[1] }, click: function() { move(1) }") &nbsp;
      td(data-bind="attr: { class\: board()[2] }, click: function() { move(2) }") &nbsp;
    tr
      td(data-bind="attr: { class\: board()[3] }, click: function() { move(3) }") &nbsp;
      td(data-bind="attr: { class\: board()[4] }, click: function() { move(4) }") &nbsp;
      td(data-bind="attr: { class\: board()[5] }, click: function() { move(5) }") &nbsp;
    tr
      td(data-bind="attr: { class\: board()[6] }, click: function() { move(6) }") &nbsp;
      td(data-bind="attr: { class\: board()[7] }, click: function() { move(7) }") &nbsp;
      td(data-bind="attr: { class\: board()[8] }, click: function() { move(8) }") &nbsp;

  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
  script(src="/js/lib/sockjs-0.3.1.min.js")
  script(src="/js/lib/knockout-2.1.0.js")
  script(src="/js/tictactoe/connection.js")
  script(src="/js/tictactoe/game.js")
  script(src="/js/tictactoe/main.js")