#tictactoe_board {
  border: solid 1px black;
}

#tictactoe_board td {
  width: 60px;
  height: 60px;
  border: solid 1px black;
  cursor: pointer;
}

#tictactoe_board td.X {
  background-color: red;
}

#tictactoe_board td.O {
  background-color: blue;
}