#tictactoe_board {
  border: solid 1px black;
}

#tictactoe_board td {
  width: 60px;
  height: 60px;
  border: solid 1px black;
  cursor: pointer;
}

#tictactoe_board td.X {
  background-image: url(/images/tictactoe/x.svg);
  background-repeat: no-repeat;
}

#tictactoe_board td.O {
  background-image: url(/images/tictactoe/o.svg);
  background-repeat: no-repeat;
}